@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Montserrat", serif;
}

body {
  max-width: 375px !important;
  margin: 0 auto !important;
  overflow-x: hidden !important;
  text-align: center !important;
}

.forgot-password-content {
    background-color: #F9F9F9;
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 0 20px 200px 20px;
    padding: 20px 0px;
    box-shadow: -1px 2px 6px 0px rgba(0,0,0,0.28);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 2px 6px 0px rgba(0,0,0,0.28);
}

.forgot-password-title h1 {
    text-align: start;
    margin: 0 30px;
    font-size: 1.6rem;
    font-weight: 700;
}

.forgot-password-title p {
    text-align: start;
    margin: 0 30px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #404040;
}